<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dt.dtpt.mybatis.mapper.common.TbSysRoleMapper" >
  <resultMap id="BaseResultMap" type="com.dt.dtpt.mybatis.model.common.TbSysRole" >
    <!--
      WARNING - @mbggenerated
    -->
    <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="INTEGER" />
    <result column="STATE_DATE" property="stateDate" jdbcType="DATE" />
  </resultMap>
</mapper>