<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dt.dtpt.mybatis.mapper.demo.EduCourseMapper" >
  <resultMap id="BaseResultMap" type="com.dt.dtpt.mybatis.model.demo.EduCourse" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="COURSE_ID" property="courseId" jdbcType="VARCHAR" />
    <result column="SCHOOL_ID" property="schoolId" jdbcType="VARCHAR" />
    <result column="COURSE_NAME" property="courseName" jdbcType="VARCHAR" />
    <result column="SUBJECT" property="subject" jdbcType="VARCHAR" />
    <result column="SUBJECT_SUB" property="subjectSub" jdbcType="VARCHAR" />
    <result column="YEAR" property="year" jdbcType="VARCHAR" />
    <result column="SEMESTER" property="semester" jdbcType="DECIMAL" />
    <result column="START_DATE" property="startDate" jdbcType="DATE" />
    <result column="END_DATE" property="endDate" jdbcType="DATE" />
    <result column="TEACHER_ID" property="teacherId" jdbcType="VARCHAR" />
    <result column="TEACHER_NAME" property="teacherName" jdbcType="VARCHAR" />
    <result column="TEACHER_PHONE" property="teacherPhone" jdbcType="VARCHAR" />
    <result column="TOTAL_COURSE" property="totalCourse" jdbcType="DECIMAL" />
    <result column="TEACH_TIME" property="teachTime" jdbcType="VARCHAR" />
    <result column="TEACH_ADDRESS" property="teachAddress" jdbcType="VARCHAR" />
    <result column="COURSE_INFO" property="courseInfo" jdbcType="VARCHAR" />
    <result column="MAX_STUDENTS" property="maxStudents" jdbcType="DECIMAL" />
    <result column="PAY_STUDENTS" property="payStudents" jdbcType="DECIMAL" />
    <result column="COURSE_JE" property="courseJe" jdbcType="DECIMAL" />
    <result column="EDIT_DATE" property="editDate" jdbcType="DATE" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="COMMON" property="common" jdbcType="VARCHAR" />
  </resultMap>
</mapper>