<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dt.dtpt.mybatis.mapper.demo.EduSourseStudentMapper" >
  <resultMap id="BaseResultMap" type="com.dt.dtpt.mybatis.model.demo.EduSourseStudent" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="COURSE_SID" property="courseSid" jdbcType="VARCHAR" />
    <result column="COURSE_ID" property="courseId" jdbcType="VARCHAR" />
    <result column="COURSE_NAME" property="courseName" jdbcType="VARCHAR" />
    <result column="SUBJECT" property="subject" jdbcType="VARCHAR" />
    <result column="SUBJECT_SUB" property="subjectSub" jdbcType="VARCHAR" />
    <result column="STUDENT_ID" property="studentId" jdbcType="VARCHAR" />
    <result column="STUDENT_NAME" property="studentName" jdbcType="VARCHAR" />
    <result column="IS_PAYED" property="isPayed" jdbcType="INTEGER" />
    <result column="PAY_DATE" property="payDate" jdbcType="DATE" />
    <result column="PAY_JE" property="payJe" jdbcType="DECIMAL" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="EDIT_DATE" property="editDate" jdbcType="DATE" />
    <result column="COMMON" property="common" jdbcType="VARCHAR" />
  </resultMap>
</mapper>